<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin | Blogger</title>
  </head>
  <body>
    <header></header>
    <main>This is an admin panel</main>
    <footer></footer>
  </body>
</html>
