<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin | Log in</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/Styles/style.css" />
  </head>
  <body class="h-100">
    <main class="w-100 h-100 d-flex justify-content-center align-items-center">
      <div class="w-75 p-4 py-5 rounded-4 bg-dark-subtle">
        <form
          action="/admin"
          method="POST"
          class="h-100 w-100 d-flex justify-content-center align-items-center flex-column gap-3"
        >
          <div class="d-flex flex-column gap-1 w-100">
            <label for="email" class="text-dark fw-semibold"
              >Email address</label
            >
            <input
              type="email"
              name="email"
              id="email"
              required="true"
              autocomplete="true"
              class="rounded-2 border-0 py-2 px-3 bg-light-subtle text-black fw-bold"
            />
          </div>
          <div class="d-flex flex-column gap-1 w-100">
            <label for="password" class="text-dark fw-semibold">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              required="true"
              autocomplete="true"
              class="rounded-2 border-0 py-2 px-3 bg-light text-black fw-bold"
            />
          </div>
          <div class="w-100 mt-4">
            <button
              type="submit"
              class="w-100 bg-success rounded-2 px-5 py-3 border-0 text-light fw-bold"
            >
              Log In
            </button>
          </div>
        </form>
      </div>
    </main>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
