<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Blog Post</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/bootstrap.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('partials/navbar') %>

    <!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4">
      <div class="container">
        <div class="text-center my-5">
          <h1 class="fw-bolder">Welcome to Blog Home!</h1>
          <p class="lead mb-0">
            A Bootstrap 5 starter layout for your next blog homepage
          </p>
        </div>
      </div>
    </header>
    <ul>
      <% allBlogs.forEach((blog)=> { %>
      <li><%= blog.title %></li>
      <li><%= blog.author %></li>
      <li><%= blog.description %></li>
      <br />
      <% }) %>
    </ul>
    <!-- Page content-->
    <div class="container d-flex justify-content-center">
      <!-- Blog entries-->
      <div class="row w-75">
        <div class="w-auto col-lg-8">
          <!-- Featured blog post-->
          <div class="card mb-4">
            <a href="#!"
              ><img
                class="card-img-top"
                src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg"
                alt="..."
            /></a>
            <div class="card-body">
              <div class="small text-muted">January 1, 2023</div>
              <h2 class="card-title">Featured Post Title</h2>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a
                laboriosam. Dicta expedita corporis animi vero voluptate
                voluptatibus possimus, veniam magni quis!
              </p>
              <a class="btn btn-primary" href="/blog">Read more →</a>
            </div>
          </div>
          <!-- Nested row for non-featured blog posts-->
          <div class="row">
            <div class="col-lg-6">
              <!-- Blog post-->
              <div class="card mb-4">
                <a href="#!"
                  ><img
                    class="card-img-top"
                    src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
                    alt="..."
                /></a>
                <div class="card-body">
                  <div class="small text-muted">January 1, 2023</div>
                  <h2 class="card-title h4">Post Title</h2>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Reiciendis aliquid atque, nulla.
                  </p>
                  <a class="btn btn-primary" href="#!">Read more →</a>
                </div>
              </div>
              <!-- Blog post-->
              <div class="card mb-4">
                <a href="#!"
                  ><img
                    class="card-img-top"
                    src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
                    alt="..."
                /></a>
                <div class="card-body">
                  <div class="small text-muted">January 1, 2023</div>
                  <h2 class="card-title h4">Post Title</h2>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Reiciendis aliquid atque, nulla.
                  </p>
                  <a class="btn btn-primary" href="#!">Read more →</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <!-- Blog post-->
              <div class="card mb-4">
                <a href="#!"
                  ><img
                    class="card-img-top"
                    src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
                    alt="..."
                /></a>
                <div class="card-body">
                  <div class="small text-muted">January 1, 2023</div>
                  <h2 class="card-title h4">Post Title</h2>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Reiciendis aliquid atque, nulla.
                  </p>
                  <a class="btn btn-primary" href="#!">Read more →</a>
                </div>
              </div>
              <!-- Blog post-->
              <div class="card mb-4">
                <a href="#!"
                  ><img
                    class="card-img-top"
                    src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
                    alt="..."
                /></a>
                <div class="card-body">
                  <div class="small text-muted">January 1, 2023</div>
                  <h2 class="card-title h4">Post Title</h2>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a
                    laboriosam.
                  </p>
                  <a class="btn btn-primary" href="#!">Read more →</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; Your Website 2023
        </p>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="/js/bootstrap.js"></script>
    <!-- Core theme JS-->
    <script src="/public/JavaScript/script.js"></script>
  </body>
</html>
